[submodule "pmsis_api"]
	path = pmsis_api
	url = https://github.com/GreenWaves-Technologies/pmsis_api
[submodule "gap_sdk"]
	path = gap_sdk
	url = https://github.com/VishalSharma0309/gap_sdk
[submodule "pulp-dronet"]
	path = pulp-dronet
	url = https://github.com/VishalSharma0309/pulp-dronet
[submodule "gap_riscv_toolchain_ubuntu_18"]
	path = gap_riscv_toolchain_ubuntu_18
	url = https://github.com/GreenWaves-Technologies/gap_riscv_toolchain_ubuntu_18
[submodule "spif-driver"]
	path = spif-driver
	url = https://github.com/VishalSharma0309/spif-driver.git
[submodule "pulp-sdk"]
	path = pulp-sdk
	url = https://github.com/VishalSharma0309/pulp-sdk
[submodule "pulp-riscv-gnu-toolchain"]
	path = pulp-riscv-gnu-toolchain
	url = https://github.com/pulp-platform/pulp-riscv-gnu-toolchain
[submodule "pulp-builder"]
	path = pulp-builder
	url = https://github.com/pulp-platform/pulp-builder
